body{
margin:0px;
padding:0px;
text-align:center;
background-color:BurlyWood;
}
header h1{
background-color:NavajoWhite;
}
button{
background-color:NavajoWhite;
border-radius:5px;
border:0.5px solid Tan;
font-weight:bold;
}
button:hover{
background-color:Goldenrod;
color:Maroon;
padding:10px;
font-size:20px;
}
button:active{
color:Cornsilk;
}
input[type=text]{
background-color:NavajoWhite;
border:2px solid Tan;
}
input[type=text]:focus{
background-color:Goldenrod;
color:Maroon;
border-radius:5px;
border:2px solid Maroon;
outline:none;
padding:10px;
font-size:20px;
}
a{
text-decoration:none;
color:black;
position:relative;
}
a:link{
color:black;
}
a:visited{
color:Maroon;
}
a:hover{
padding:10px;
font-size:20px;
color:Chocolate;
text-decoration:underline;
}
a:active{
font-weight:bold;
color:SaddleBrown;
}